p.R {
  font-family: sans-serif, '黑体';
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(0, 0, 200, 0.6);
  background: rgba(0, 0, 200, 0.3);
  color: rgba(0, 0, 200, 0.6);
  box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
}
html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  max-width: 800px;
}
body.u {
  background-color: rgba(0,0,255,0.01);
}

header, footer {
  background-color: rgba(0,0,255,0.1);
  color: white;
  line-height: 100px;
  padding: 0 10px;
}

header.R, footer.R{
  letter-spacing: 1px;
  background-color: rgba(0,0,255,0.1);
  border: 2px solid rgba(0, 0, 200, 0.6);
  background: rgba(0, 0, 255, 0.1);
  color: rgba(0, 0, 200, 0.6);
  box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
  width: 792px;
}

header.r{
  line-height: 25px;
}

header.X, footer.X{
  letter-spacing: 1px;
  background-color: rgba(0,0,255,0.1);
  border: 2px solid rgba(0, 0, 200, 0.6);
  background: rgba(0, 0, 255, 0.1);
  color: rgba(0, 0, 200, 0.6);
  box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
  width: 792px;
  line-height: 32px;
}


details{
     overflow:hidden;
     height:0;
     position:relative;
     display:block;
     }
details[open1]{
     height:auto;
     }
details[open2]{
     height:auto;
     }

.new-note, .note-display {
  padding: 20px;
}

.new-note {
  background: rgba(203,246,246,0.2);
}

h1 {
  margin: 0;
}

ul {
  list-style-type: none;
}

div {
  margin-bottom: 10px;
}

   a.u{
     text-decoration: none;
     color: black;
     }
   a.v{
     text-decoration: none;
     color: white;
     }
   a.u:visited{
     color: black;
     }
   a.v:visited{
     color: white;
     }
   button.B{
     text-decoration: none;
     border-style: none;
     }
   .WIP{
     background: rgba(203,246,246,0.2);
     text-align: center;
     }
    .totop {
      position: fixed;
      bottom: 0px;
      right: 0px;
      width: 40px;
      height: 40px;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      border: 2px solid rgba(0, 0, 200, 0.6);
      background: rgba(0, 0, 200, 0.3);
      color: rgba(0, 0, 200, 0.6);
      box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
      border-radius: 10px;
      padding: 3px 10px;
      display: none;
      cursor: pointer;
    }
    div.xuexiDownload{
      letter-spacing: 1px;
      background-color: rgba(0,0,255,0.1);
      border: 2px solid rgba(0, 0, 200, 0.6);
      background: rgba(0, 0, 255, 0.1);
      color: rgba(0, 0, 200, 0.6);
      box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
      border-radius: 10px;
      padding: 6px 20px;
      display: inline-block;
      cursor: pointer;
      float: right;
    }
    div.blogwriting{
      letter-spacing: 2px;
      background-color: rgba(0,0,255,0.1);
      border: 2px solid rgba(0, 0, 200, 0.6);
      background: rgba(0, 0, 255, 0.1);
      color: rgba(0, 0, 200, 0.6);
      box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
      border-radius: 10px;
      padding: 9px 30px;
      display: inline-block;
      cursor: pointer;
      width: 752px;
    }
     div.blogview{
      letter-spacing: 2px;
      background-color: rgba(0,0,255,0.1);
      border: 2px solid rgba(0, 0, 200, 0.6);
      background: rgba(0, 0, 255, 0.1);
      color: rgba(0, 0, 200, 0.6);
      box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
      border-radius: 10px;
      padding: 9px 30px;
      display: inline-block;
      cursor: pointer;
      width: 536px;
    }

      img.z{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        }

